<%- include('../shared/layout_top') %>
  <div class="main-container">
    <div class="messageboard">
      <div class="messageboard__content" id="messageboardContent">
      
        <% if (messages) { %>
          <% messages.forEach(message => { %>

            <% const isMyMessage = (user && message.user._id.toString() === user._id.toString()) ? 'message--mine': ''  %>
            <% const messageSender = 
              (user && message.user._id.toString() === user._id.toString()) 
                ? 'you'
                : (user && user.is_member) 
                  ? message.user.username
                  : 'anonymous'
            %>
            <div class=" message <%= isMyMessage %>">
              <div class="message__header" style="display: flex;">
                <div class="message__sender mr-auto">
                  <%= messageSender %>
                </div>
                <% if (user?.is_admin) { %>
                  <a href="<%= `/messages/${message._id}/delete` %>">x</a>
                <% } %>
              </div>
              <div class="message__text">
                <%= message.text %>
              </div>
              <div class="message__time">
                <%= new Date(message.created_at).toLocaleTimeString('en-EN', { hour: '2-digit', minute: '2-digit' }) %>
              </div>
            </div>

          <% }) %>
        <% } %>
      </div>

      <div class="messageboard__footer">
        <form method="post">
          <textarea 
            name="message" 
            id="message-input" 
            class="messageboard--input" 
            placeholder="type a message"
            <%= (!user) ? 'disabled' : ''  %> 
            ></textarea>

          <button 
            class="btn messageboard-send-btn"
            <%= (!user) ? 'disabled' : ''  %>>
            Send
          </button>
        </form>
        <% if (!user) { %>
          <p class="form-error">To send a message, you should login first</p>
        <% } %>
      </div>
    </div>
    <% if (user && !user.is_member) { %>
      <p class="form-error">To see the sender, you should be a member. <a class="text-primary-900" href="/auth/join-member">Join Member</a></p>
    <% } %>
  </div>
<%- include('../shared/layout_bottom') %>
