<%- include('../shared/layout_top') %>

    <div class="main-container mt-8" style="display: grid; place-content: center; gap: 16px;">
      <h1 class="text-center">Signup</h1>
      <form class="form width-lg" method="post">
        <%# First Name %>
        <div class="form-group">
          <label class="form-label" for="first_name">First Name</label>
          <input
            class="form-input"
            id="first_name"
            type="text"
            name="first_name"
            value="<%= userdata ? userdata.first_name : '' %>"
            required
          >
        </div>

        <%# Last Name %>
        <div  class="form-group">
          <label class="form-label" for="last_name">Last Name</label>
          <input
            class="form-input"
            id="last_name"
            type="text"
            name="last_name"
            value="<%= userdata ? userdata.last_name : '' %>"
          >
        </div>

        <%# Username %>
        <div class="form-group">
          <label class="form-label"  for="username">Username</label>
          <input
            class="form-input"
            id="username"
            type="text"
            name="username"
            value="<%= userdata ? userdata.username : '' %>"
            required
          >
          <%- include('../shared/input_error', { path: 'username', errors: errors?errors:null}) %>
        </div>

        <%# Password %>
        <div class="form-group">
          <label class="form-label"  for="password">Password</label>
          <input
            class="form-input"
            id="password"
            type="password"
            name="password"
            value="<%= userdata ? userdata.password : '' %>"
            required
          >
          <%- include('../shared/input_error', { path: 'password', errors: errors?errors:null}) %>
        </div>
        
        <button class="btn btn--primary">Signup</button>
      </form>
    </div>
<%- include('../shared/layout_bottom') %>
